@import 'utils';

.footer {
  .copyright {
    height: 2rem;
    width: 1400px;
    margin: 0 auto;
    padding-left: 1rem;
    border: 1px solid black;

    // 세로 가운데 정렬
    display: flex;
    align-items: center;
    
    font-size: 1rem;
    font-weight: 600;
  }
}
