@import 'utils';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid white;
  height: 40px;
  width: 100px;
  margin-left: 2rem;

  &:hover { // 마우스 커서를 뒀을 때 밑줄을 그리기
    border-bottom: 4px solid black;
  }
}